networks:
  {{ network_name }}:
    external: true
    name: {{ network_name }}

services:
  nginx:
    image: nginx:1.29.4-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./image_data:/var/www/images:ro
      - ./site_data:/var/www/site:ro
    networks:
      -  {{ network_name }}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  