spring:
  rabbitmq: 
    host: {{rabbitmq_host}}
    port: {{rabbitmq_port}}
    username: {{rabbitmq_username}}
    password: {{rabbitmq_password}}

management:
  endpoints:
    web:
      exposure:
        include: {{metrics_exposed}}
      base-path: {{base_metrics_path}}
  endpoint:
    health:
      show-details: {{metrics_show_details}}
      show-components: {{metrics_show_components}}

logging:
  level:
    root: {{log_level}}

rabbitmq:
  messaging_queue: {{rabbit_messaging_queue_email}}

integration:
  host: {{integration_host}}
  port: {{integration_port}}