@use '../../../_index.scss' as *;

.forgot-password-container {
  display: flex;
  flex-direction: column;
  border: $pink 1px solid;
  border-radius: 4px;
  padding: 2rem 4rem;
  width: 30vw;
  background: $blues-gradient;
  color: white;

  .forgot-password-title {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .forgot-password-description {
    font-size: 0.875rem;
    color: white;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    text-align: center;
  }

  .forgot-password-form {
    display: flex;
    flex-direction: column;

    label {
      color: $pink;
      font-size: 0.75rem;
    }

    .input-container {
      padding: 0 0.5rem;
      margin-bottom: 1.5rem;
    }

    input {
      width: 100%;
    }

    .forgot-password-error {
      color: #ff4444;
      font-size: 0.75rem;
      margin: 0.25rem 0;
    }

    button {
      margin: 0 0 0.5rem 0;
    }
  }

  .forgot-password-success {
    text-align: center;
    padding: 1rem 0;

    &-message {
      font-size: 1rem;
      color: white;
      margin-bottom: 1rem;
      line-height: 1.5;
    }

    &-note {
      font-size: 0.75rem;
      color: $pink;
      margin-bottom: 1.5rem;
      font-style: italic;
      line-height: 1.5;
    }
  }

  .forgot-password-footer {
    margin-top: 1.5rem;
    text-align: center;

    .forgot-password-back {
      background: transparent;
      border: none;
      color: $pink;
      text-decoration: underline;
      cursor: pointer;
      padding: 0;
      font-size: 0.75rem;

      &:hover {
        color: lighten($pink, 20%);
        text-decoration: none;
      }

      &:disabled {
        color: rgba($pink, 0.5);
        cursor: not-allowed;
      }
    }
  }
}