@use '../../../_index.scss' as *;

.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2rem;

  .reset-password-container {
    display: flex;
    flex-direction: column;
    border: $pink 1px solid;
    border-radius: 4px;
    padding: 2rem 4rem;
    width: 30vw;
    background: $blues-gradient;
    color: white;

    .reset-password-title {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .reset-password-description {
      font-size: 0.875rem;
      color: white;
      margin-bottom: 1.5rem;
      line-height: 1.5;
      text-align: center;
    }

    .reset-password-form {
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: 1.5rem;

        label {
          color: $pink;
          font-size: 0.75rem;
          display: block;
          margin-bottom: 0.5rem;
        }

        .input-container {
          padding: 0 0.5rem;
        }

        input {
          width: 100%;
        }
      }

      .reset-password-error {
        color: #ff4444;
        font-size: 0.75rem;
        margin: 0.25rem 0;
      }

      button {
        margin: 0.5rem 0;
      }
    }

    .reset-password-success {
      text-align: center;
      padding: 1rem 0;

      &-message {
        font-size: 1rem;
        color: white;
        margin-bottom: 1.5rem;
        line-height: 1.5;
      }
    }
  }
}