networks:
    {{network_name}}:
      external: true
      name: {{network_name}}

services:
  al:
    container_name: {{al_container_name}}
    image: {{al_image}}
    restart: unless-stopped
    networks:
      - {{network_name}}
    environment:
      POSTGRES_USER: ${AL_POSTGRES_USER}
      POSTGRES_PASSWORD: ${AL_POSTGRES_PASSWORD}
      POSTGRES_DB: ${AL_POSTGRES_DB}
      PG_PORT: ${AL_POSTGRES_PORT}
      DB_HOST: ${AL_POSTGRES_HOST}
      APP_PORT: {{al_port}}
      SERVICE_NAME: {{al_service_name}}
    ports:
      - "{{al_port}}:{{al_port}}"
    extra_hosts:
      - "host.docker.internal:host-gateway"