---
  - name: Deploy auth backend
    hosts: deploy_back_auth
    tasks: 
      - name: Give access to socket for install user
        file: 
          path: "/var/run/docker.sock"
          state: file 
          owner: "{{ansible_user}}"
        become: yes
        
      - name: Copy docker template 
        template: 
          src: "/workspace/templates/backs/auth.j2"
          dest: "{{base_path}}/docker/auth.yml"
      
      - name: Ensure keys dir exists
        file:
          path: "{{base_path}}/docker/keys"
          state: directory

      - name: Copy public key
        copy:
          dest: "{{base_path}}/docker/keys/public.key"
          content: "{{ auth_public_key }}"
          
      - name: Copy private key
        copy:
          dest: "{{base_path}}/docker/keys/private.key"
          content: "{{ auth_private_key }}"
      
      - name: Pull auth backend 
        shell: "cd {{base_path}}/docker/ && docker compose -f auth.yml pull"
      
      - name: Down auth backend 
        shell: "cd {{base_path}}/docker/ && docker compose -f auth.yml down"

      - name: Start auth backend 
        shell: |
          cd {{base_path}}/docker/ && \
          AUTH_SECRET={{auth_secret}} \
          AUTH_POSTGRES_USER={{auth_pg_user}} \
          AUTH_POSTGRES_PASSWORD={{auth_pg_password}} \
          AUTH_POSTGRES_DB={{auth_pg_db}} \
          AUTH_POSTGRES_PORT={{auth_pg_port}} \
          AUTH_POSTGRES_HOST={{auth_pg_host}} \
          docker compose -f auth.yml up -d