---
  - name: Deploy cc backend
    hosts: deploy_back_cc
    tasks: 
      - name: Give access to socket for install user
        file: 
          path: "/var/run/docker.sock"
          state: file 
          owner: "{{ansible_user}}"
        become: yes

      - name: Copy docker template 
        template: 
          src: "/workspace/templates/backs/cc.j2"
          dest: "{{base_path}}/docker/cc.yml"

      - name: Pull cc backend 
        shell: "cd {{base_path}}/docker/ && docker compose -f cc.yml pull"
      
      - name: Down cc backend 
        shell: "cd {{base_path}}/docker/ && docker compose -f cc.yml down"

      - name: Start cc backend 
        shell: |
          cd {{base_path}}/docker/ && \
          CC_POSTGRES_USER={{cc_pg_user}} \
          CC_POSTGRES_PASSWORD={{cc_pg_password}} \
          CC_POSTGRES_DB={{cc_pg_db}} \
          CC_POSTGRES_PORT={{cc_pg_port}} \
          CC_POSTGRES_HOST={{cc_pg_host}} \
          docker compose -f cc.yml up -d