---
  - name: Deploy discord bot
    hosts: deploy_back_discord
    tasks: 
      - name: Give access to socket for install user
        file: 
          path: "/var/run/docker.sock"
          state: file 
          owner: "{{ansible_user}}"
        become: yes

      - name: Copy docker template 
        template: 
          src: "/workspace/templates/backs/ds.j2"
          dest: "{{base_path}}/docker/ds.yml"
      
      - name: Pull discord backend 
        shell: "cd {{base_path}}/docker/ && docker compose -f ds.yml pull"
      
      - name: Down discord backend 
        shell: "cd {{base_path}}/docker/ && docker compose -f ds.yml down"

      - name: Start discord backend 
        shell: |
          cd {{base_path}}/docker/ && \
          DS_DISCORD_TOKEN={{ds_discord_token}} \
          DS_CLIENT_ID={{ds_client_id}} \
          DS_GUILD_ID={{ds_guild_id}} \
          DS_REDIS_USER={{ds_redis_user}} \
          DS_REDIS_USER_PASSWORD={{ds_redis_password}} \
          DS_REDIS_HOST={{ds_redis_host}} \
          DS_REDIS_PORT={{ds_redis_port}} \
          docker compose -f ds.yml up -d